optic-data.com {
    handle /deploy/webhook {
        rewrite * /webhook
        reverse_proxy host.docker.internal:9000 {
            header_up X-Real-IP {remote_host}
        }
    }
    handle /ws {
        reverse_proxy server:4000
    }
    handle /api/* {
        reverse_proxy server:4000
    }
    handle {
        reverse_proxy client:80
    }
}

www.optic-data.com {
    redir https://optic-data.com{uri} permanent
}
